#tab_wrapper {
    margin: 30px auto;
}

#tab {
    width: 80%;
    background-color: #7C92A6;
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    border-spacing: 0 10px;
}

#first_row {
    font-size: 26px;
    color: white;
}

#first_row th {
    text-decoration: underline;
}

#tab tr:hover {
    color: white;
    transition: 0.3s;
}

@media(max-width:812px) {
    #tab {
        font-size: 20px;
        border-spacing: 2px 4px;
        width: 90%;
    }

    #first_row {
        font-size: 22px;
    }
}

@media(max-width:568px) {
    #tab {
        font-size: 16px;
        border-spacing: 4px 4px;
        width: 95%;
    }

    #first_row {
        font-size: 20px;
    }
}